*.exe
*.ico
*.bat
*.txt
*.log
*.code-workspace
*.conf
updatenote.lua
watch_later/
watch_later/*
testfolder/
testfolder/*
script-opts/
script-opts/*
./easympv2
easympv2
./easympvUtility
easympvUtility
./easympv
easympv
./easympv-cli
easympv-cli