*.ico
*.bat
*.log
*.code-workspace
*.conf
*.so
*.env
*.test
easympv.json
easympv-cache.json
updatenote.lua
watch_later/
watch_later/*
testfolder/
testfolder/*
script-opts/
script-opts/*
outdated.txt
shaders/testFile2.txt
testFile1.txt
extractedPackage/*
package.zip
snapshots/*
scripts/easympv/min/
scripts/easympv/min/*
minified.js
scripts/easympv/shaders/bfi.vpy
