*.ico
*.bat
*.log
*.code-workspace
*.conf
*.so
*.env
*.test
easympv.json
easympv-cache.json
updatenote.lua
watch_later/
watch_later/*
testfolder/
testfolder/*
script-opts/
script-opts/*
outdated.txt
shaders/testFile2.txt
testFile1.txt
extractedPackage/*
package.zip
snapshots/*
scripts/easympv/min/
scripts/easympv/min/*
minified.js
scripts/easympv/shaders/bfi.vpy
.vscode/settings.json
scripts/easympv/runtime.js
autoload.lua
fonts/uosc_icons.otf
fonts/uosc_textures.ttf
scripts/thumbfast.lua
scripts/uosc/*
scripts/uosc/main.lua
scripts/uosc/bin/ziggy-darwin
scripts/uosc/bin/ziggy-linux
scripts/uosc/bin/ziggy-windows.exe
scripts/uosc/char-conv/zh.json
scripts/uosc/elements/BufferingIndicator.lua
scripts/uosc/elements/Button.lua
scripts/uosc/elements/Controls.lua
scripts/uosc/elements/Curtain.lua
scripts/uosc/elements/CycleButton.lua
scripts/uosc/elements/Element.lua
scripts/uosc/elements/Elements.lua
scripts/uosc/elements/ManagedButton.lua
scripts/uosc/elements/Menu.lua
scripts/uosc/elements/PauseIndicator.lua
scripts/uosc/elements/Speed.lua
scripts/uosc/elements/Timeline.lua
scripts/uosc/elements/TopBar.lua
scripts/uosc/elements/Updater.lua
scripts/uosc/elements/Volume.lua
scripts/uosc/elements/WindowBorder.lua
scripts/uosc/intl/de.json
scripts/uosc/intl/es.json
scripts/uosc/intl/fr.json
scripts/uosc/intl/ro.json
scripts/uosc/intl/ru.json
scripts/uosc/intl/uk.json
scripts/uosc/intl/zh-hans.json
scripts/uosc/lib/ass.lua
scripts/uosc/lib/buttons.lua
scripts/uosc/lib/char_conv.lua
scripts/uosc/lib/cursor.lua
scripts/uosc/lib/intl.lua
scripts/uosc/lib/menus.lua
scripts/uosc/lib/std.lua
scripts/uosc/lib/text.lua
scripts/uosc/lib/utils.lua
